## Tugas besar 1 Probabilitas dan Statistika IF2220
#### 13520029 - Muhammad Garebaldhie ER Rahman
#### 13520056 - Fikri Khoiron Fadhila

Membaca data, menuliskan nama atribut, serta menampilkan 5 data pertama

In [5]:
import pandas as pd
# import matplotlib.pyplot as plt
# import scipy.stats as st
import numpy as np

col_names = ['id', 'pH', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity', 'OrganicCarbon', 'Trihalomethanes', 'Turbidity', 'Potability']
df = pd.read_csv('water_potability.csv', names=col_names)

In [6]:
df.head()

,id,pH,Hardness,Solids,Chloramines,Sulfate,Conductivity,OrganicCarbon,Trihalomethanes,Turbidity,Potability
0,1,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
1,2,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
2,3,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
3,4,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
4,5,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

[NO 1]\
Menulis deskripsi statistika (Descriptive Statistics) dari semua kolom pada data yang bersifat numerik, terdiri dari mean, median, modus, standar deviasi, variansi, range, nilai minimum, maksimum, kuartil, IQR, skewness dan kurtosis.

Menampilkan banyaknya data, rata - rata, standar deviasi, nilai minimal, nilai ketiga quartil serta nilai maksimal dari setiap kolom

In [7]:
df.describe()

,id,pH,Hardness,Solids,Chloramines,Sulfate,Conductivity,OrganicCarbon,Trihalomethanes,Turbidity,Potability
count,2010.00000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000
mean,1005.50000,7.087193,195.969209,21904.673439,7.134322,333.211376,426.476708,14.357940,66.400717,3.969497,0.402985
std,580.38134,1.572803,32.643166,8625.397911,1.585214,41.211111,80.701872,3.325770,16.081109,0.780471,0.490620
min,1.00000,0.227499,73.492234,320.942611,1.390871,129.000000,201.619737,2.200000,8.577013,1.450000,0.000000
25%,503.25000,6.090785,176.740657,15614.412962,6.138326,307.626986,366.619219,12.122530,55.949993,3.442882,0.000000
50%,1005.50000,7.029490,197.203525,20926.882155,7.142014,332.214113,423.438372,14.323286,66.482041,3.967374,0.000000
75%,1507.75000,8.053006,216.447589,27170.534649,8.109933,359.268147,482.209772,16.683562,77.294613,4.514663,1.000000
max,2010.00000,14.000000,317.338124,56488.672413,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000

Interquartile range adalah selisih dari nilai Q3 dan Q1 yang biasanya digunakan untuk mengidentifikasi nilai pencilan. Berikut ditampilkan nilai Interquartile range dari setiap atribut

In [11]:
q1 = df.quantile(1/4)
q3 = df.quantile(3/4)
q3 - q1

id                  1004.500000
pH                     1.962221
Hardness              39.706932
Solids             11556.121687
Chloramines            1.971607
Sulfate               51.641161
Conductivity         115.590553
OrganicCarbon          4.561031
Trihalomethanes       21.344620
Turbidity              1.071781
Potability             1.000000
dtype: float64

Skewness dapat diartikan sebagai ukuran ketidaksimetrian suatu distribusi data. Skewness dapat bernilai positif, negatif, serta nol. Atribut yang memiliki nilai skewness positif artinya data berada lebih banyak disebelah kiri dibandingkan kanan karena ekor kurva berada pada sebelah kanan begitupula sebaliknya

In [8]:
df.skew()

id                 0.000000
pH                 0.048535
Hardness          -0.085321
Solids             0.591011
Chloramines        0.013003
Sulfate           -0.045728
Conductivity       0.268012
OrganicCarbon     -0.020220
Trihalomethanes   -0.051383
Turbidity         -0.032266
Potability         0.395873
dtype: float64

Kurtosis digunakan untuk menunjukan derajat keruncingan, semakin besar maka semakin runcing kurva tersebut. Nilai nol menunjukan data normal nilai positif menunjukan data semakin homogen serta nilai negatif menunjukan data semakin menyebar dan tidak homogen

In [7]:
df.kurt()

id                -1.200000
pH                 0.626904
Hardness           0.525480
Solids             0.337320
Chloramines        0.549782
Sulfate            0.786854
Conductivity      -0.237206
OrganicCarbon      0.031018
Trihalomethanes    0.223017
Turbidity         -0.049831
Potability        -1.845122
dtype: float64

Kondisi ideal ketika nilai skewness bernilai nol serta nilai kurtosis bernilai 3. Kondisi ini menunjukan bahwa kurva terdistribusi secara normal. Dapat terlihat dari beberapa atribut yang ada pada bagian sebelumnya tidak ada kurva yang memiliki distribusi normal namun ada kurga yang memiliki nilai skewness yang nol artinya kurvanya normal